/* Built In Tags*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;
}

/* Logo Animation*/
/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.fade-in {
    opacity: 0;
    /*just in case ie*/
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 4.3s;
    -moz-animation-delay: 4.3s;
    animation-delay: 4.3s;
}

.fade-out {

    opacity: 1;
    /*just in case ie*/
    -webkit-animation: fadeOut ease-in 1;
    -moz-animation: fadeOut ease-in 1;
    animation: fadeOut ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
    animation-duration: 1.8s;
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    animation-delay: 4.5s;


}

/* move logo to right*/



#logoAnimation {

    position: relative;
    width: 80%;
}



.outlined {
    width: 100%;
    z-index: 1;
}

.color {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: -1.2px;
    z-index: 2;
}





/*animation end*/


/* TYPING*/

.txt-rotate>.wrap {
    border-right: 0.08em solid #666
}

.ticked {
    border-right: 0.08em solid #666
}


/* Margins */
.mb-50 {
    margin-bottom: 50px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-20 {
    margin-right: 20px;
}

.mobile-margins-services {
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    border-radius: 0px;
    background-color: #F3F3F3;
    border: 2px solid white;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* accesibility slap*/
a {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-item {
    border-top: 2px solid white;
    padding-top: 10px;
    font-weight: 700;

}

.dropdown-item:active {
    background-color: #c9c9c9;

}

#noTopBorder {
    border-top: 0px solid white;
}

.navbar-toggler {
    border-radius: 0px !important;
}


/* Helpers */


.md-br {
    display: none;
}

.extra-bold {
    font-weight: 800;
}

.blue {
    background-color: darkblue;
}

.lblue {
    background-color: lightblue;
}

#animationPlaceHolder {
    /*min-height: 1200px;*/
}


.full-width {
    width: 100%;
}

.expanded {
    width: 80%;
}

.section-title {
    text-transform: uppercase;
}

.center-mob {
    text-align: center;
    padding-bottom: 20px;
}

/* Button Effect/Switch */
.wrap {
    -webkit-transition: .6s;
    transition: .6s;
}

.circleBG {
    height: 40px;
    margin: 3px;
    margin-right: 0px;
    width: 40px;
    border-radius: 50%;
    background: rgb(52, 106, 179);
    background: linear-gradient(135deg,
        rgba(52, 106, 179, 1) 30%,
        rgba(54, 198, 245, 1) 90%);
    -webkit-transition: .6s;
    transition: .6s;
}

.switch-outline {
    height: 47px;
    width: 122px;
    border: 1px solid rgba(54, 198, 245, 1);
    border-radius: 50px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.learnMore {
    font-size: 0.7em;
    margin: auto;
    margin-left: 5px;
    font-weight: 700;
}

/* Navbar */

#nav-img {
    margin-top: 20px;
    max-height: 70px;
}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}

.mainNav a {
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
    color: #232323 !important;

}

.mainNav a:hover {
    color: #525252 !important;

}

.mainNav a.active {
    background: rgb(52, 106, 179);
    background: linear-gradient(135deg, rgba(52, 106, 179, 1) 30%, rgba(54, 198, 245, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-width: 0px 0px 3px 0px;
    border-bottom: 3px solid;
    border-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='120px' height='61px' viewBox='0 0 120 61' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='13.652952%25' y1='41.1220114%25' x2='74.9269157%25' y2='54.7828394%25' id='linearGradient-1'%3E%3Cstop stop-color='%23346AB3' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C3F3' offset='88.8834716%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect id='Rectangle' fill='url(%23linearGradient-1)' fill-rule='nonzero' x='0' y='0' width='120' height='61'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E") 25%;
}

.above {
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(201, 201, 201, 1) 100%);
}

/* Services Offered Boxes */

.service {
    border-bottom: 1.5px solid white;
}



#serviceContainer {
    border-top: 1.5px solid white;
    border-left: 1.5px solid white;
    border-right: 1.5px solid white;
}


.service>h3 {
    margin-top: 15px;
    font-weight: 800;
    font-size: 1em;
}

.service.active {
    background-color: rgb(255, 255, 255, 0.5);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 3px solid !important;
    border-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='120px' height='61px' viewBox='0 0 120 61' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='13.652952%25' y1='41.1220114%25' x2='74.9269157%25' y2='54.7828394%25' id='linearGradient-1'%3E%3Cstop stop-color='%23346AB3' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C3F3' offset='88.8834716%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect id='Rectangle' fill='url(%23linearGradient-1)' fill-rule='nonzero' x='0' y='0' width='120' height='61'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E") 25%;
}

#serviceDescription {

    padding: 15px 10px 20px 10px;

}

#serviceDescriptionContainer {
    height: 550px;
    width: 100%;
    background-color: rgb(228, 228, 228, 0.5);
    border: 1px solid white;
}

.process-text {

    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#serviceImage {

    max-height: 50%;
    max-width: 50%;


}

.minheight90 {
    min-height: 90px;
}

.arrow {
    transform: rotate(90deg);
    margin: 50px 0px 50px 0px;
}

/* Our Companies */


/* CARD TURN FOR COMPANIES*/

.scene {
    width: 150px;
    height: 150px;
    perspective: 600px;
    margin-bottom: 20px;
    background: transparent;
}

.companyLogo {
    width: 80%;
    height: 80%;
    margin: auto;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    background-color: transparent;
}

.card__face {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.card__face--front {
    background: #e4e4e4;
}

.card__face--back {
    background: #ffffff;
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.activeCompany {
    width: 100%;
    height: 100%;
    background-color: white;
    border-width: 0px 0px 8px 0px;
    border-bottom: 8px solid;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='120px' height='61px' viewBox='0 0 120 61' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='13.652952%25' y1='41.1220114%25' x2='74.9269157%25' y2='54.7828394%25' id='linearGradient-1'%3E%3Cstop stop-color='%23346AB3' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C3F3' offset='88.8834716%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect id='Rectangle' fill='url(%23linearGradient-1)' fill-rule='nonzero' x='0' y='0' width='120' height='61'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E") 25%;

}

.companyHeading {
    width: 70%;
    font-size: 1.5rem;
    line-height: 30px;
    background: rgb(52, 106, 179);
    background: linear-gradient(135deg, rgba(52, 106, 179, 1) 30%, rgba(54, 198, 245, 1) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    border-width: 0px 0px 4px 0px;
    border-bottom: 4px solid blue !important;
    border-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='120px' height='61px' viewBox='0 0 120 61' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3ClinearGradient x1='13.652952%25' y1='41.1220114%25' x2='74.9269157%25' y2='54.7828394%25' id='linearGradient-1'%3E%3Cstop stop-color='%23346AB3' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C3F3' offset='88.8834716%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3Cstop stop-color='%2336C5F4' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Crect id='Rectangle' fill='url(%23linearGradient-1)' fill-rule='nonzero' x='0' y='0' width='120' height='61'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E") 25%;
    padding-top: 30px;
}

.companyDescription {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* Contact */

#map {

    margin-bottom: -20%;
}


.footer {
    background-color: #e4e4e4;
}

.footer h2 {
    font-weight: 800;
    /*    letter-spacing: 5px;
*/
}

/* change here to padding-bottom*/
.contactRow {
    min-height: 200px;
    padding-bottom: 25px;
    padding-top: 30px;
}

.contactIcon {
    padding-right: 05px;
}

.contactMethod {
    padding-bottom: 20px;
}

.contactMethod a {
    color: #232323;
    font-size: 0.9rem;
}

.socialIcon {

    width: 40px;
}


@media screen and (max-width: 380px) {


    #serviceDescriptionContainer {
        height: 600px;
    }

    .contactIcon {
        padding-right: 0px;
        padding-left: 0px;
    }


}

@media screen and (min-width: 405px) {

    .scene {
        height: 170px;
        width: 170px;
    }

    .contactIcon {
        padding-right: 10px;
    }

    .contactMethod {
        padding-bottom: 20px;
    }

    .contactMethod a {
        color: #232323;
        font-size: 1rem;
    }


}


@media screen and (min-width: 445px) {


    #serviceDescriptionContainer {
        height: 500px;

    }


}



@media screen and (min-width: 768px) {

    #animationPlaceHolder {
        min-height: 300px;
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes moveright {
        100% {
            margin-right: 0%;
        }
    }

    /* Standard syntax */
    @keyframes moveright {
        100% {
            margin-right: 0%;
        }
    }

    #logoAnimation {

        position: relative;
        margin-right: 60%;
        width: 80%;
        height: 80%;
        -webkit-animation: moveright 2.6s forwards;
        /* Chrome, Safari, Opera */
        animation: moveright 2.6s forwards;
        animation-delay: 5.3s;
    }


    .scene {
        width: 200px;
        height: 200px;
    }

    .spacer {
        height: 23px;
    }

    .md-br {
        display: block;
    }


    .service {
        border-left: 0.5px solid white;
        border-right: 1px solid white;

    }

    .service#webdev {
        border-top: 0px solid transparent;
    }

    .service>h3 {
        margin-top: 25px;
        font-size: 0.8em;
    }

    .service.active {
        border-bottom: 8px solid transparent;

    }

    #serviceContainer {
        border-top: 1px solid white;
    }

    .service:after {
        content: "";
        display: block;
        padding-bottom: 50%;
        /* initial ratio of 1:1 - box making*/
    }

    .arrow {
        transform: rotate(0deg);
        margin: unset;
    }


    .companyHeading {
        width: 100%;
        font-size: 1.6rem;
        text-align: right;
        padding-bottom: 10px;
        padding-top: 0px;

    }



    .companyDescription {
        text-align: right;
    }

    .contactIcon {
        padding-right: 20px;
    }

    .socialIcon {

        width: 50px;
    }


    .contactMethod {
        padding-bottom: unset;
    }




}

/* CONVERT TO DESKTOP SITE */
@media screen and (min-width: 992px) {

    .mt-desktop {
        margin-top: 100px;
    }

    .no-padding-top {
        padding-top: 0px;
    }

    .no-padding-left {
        padding-left: 0px;
    }

    .service>h3 {

        font-size: 1.2em;

    }

    .circleBG {
        height: 60px;
        width: 60px;

    }

    .switch-outline {
        height: 67px;
        width: 175px;
    }

    .learnMore {
        font-size: 1em;
        margin: auto;
        margin-left: 10px;
        font-weight: 700;
    }



    .title {
        font-size: 2.5rem;
    }

    #serviceDescriptionContainer {
        height: 370px;

    }



    .scene {
        height: 300px;
        width: 300px;
    }

    .companyHeading {
        width: 70%;
        font-size: 2rem;
    }

    .companyDescription {
        text-align: right;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 1.2rem;
    }

    .center-mob {
        text-align: left;
    }

    #map {

        margin-bottom: -10%;
    }


    .contactMethod a {
        font-size: 1.3em;
    }

    .socialIcon {
        padding-left: 15px;
    }

    .socialIcon {

        width: 60px;
    }



}